# executable and object
cub3D
a.out
obj/

# log file
exec.log

# unit_test
scripts/unit_test/deepthought
scripts/unit_test/test/

# vscode
.vscode/

# python3 cache
scripts/ft_helper/modules/__pycache__
