# executable and object
cub3D
cub3D_bonus
a.out
obj/

# tmp file
exec.log
path_to_the_north_texture
path_to_the_south_texture
path_to_the_east_texture
path_to_the_west_texture

# unit_test
scripts/unit_test/deepthought
scripts/unit_test/test/

# vscode
.vscode/

# python3 cache
scripts/ft_helper/modules/__pycache__
